/* 2021-10-23 fix font files blocked by CORS policy */
@font-face {
    font-family: ic;
    src: url('/T--Fudan--icon.eot');
    src: url('/T--Fudan--icon.eot#iefix') format('embedded-opentype'),
         url("/T--Fudan--icon2.woff") format('woff2'),
         url('/T--Fudan--icon.woff') format('woff'),
         url('/T--Fudan--icon.ttf') format('truetype'),
         url('/T--Fudan--icon.svg#iconfont') format('svg');
}